.NoteForm {
  height: 100%;
  width: 100%;
}

.nf-form {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nf-note-text {
  width: 100%;
  min-height: 150px;
  padding: 15px;
  resize: none;
  outline: none;
  border: 2px solid var(--medium-gray);
}

.nf-note-text,
.nf-note-text::placeholder {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
}

.nf-note-text:valid {
  border: 2px solid var(--gray);
}

.nf-note-text,
.nf-note-text:valid {
  transition: 0.5s;
}

.nf-button-group {
  height: 115px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nf-dropdown-group {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 45px 1fr;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.nf-dropdown-group label {
  grid-column: 1 / 2;
}

.nf-dropdown {
  grid-column: 2 / 3;
}

.nf-dropdown-group,
.nf-submit {
  width: 100%;
}

.nf-btn {
  height: 40px;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 0;
  outline: none;
  line-height: 2.45;
}

.nf-submit {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nf-submit,
.nf-submit:disabled,
.nf-submit:disabled:hover {
  color: white;
  border: 2px solid transparent;
}

.nf-submit:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-weight: 600;
}

.nf-submit:active {
  background-color: var(--lt-gray);
}

.nf-submit:disabled {
  background-color: var(--gray);
}

.nf-submit:disabled:hover {
  font-weight: 400;
}

.nf-submit,
.nf-submit:active,
.nf-submit:hover,
.nf-submit:disabled {
  transition: 0.3s;
}

@media screen and (max-width: 890px) {
  .nf-note-text,
  .nf-button-group {
    max-width: 292px;
  }
}

@media screen and (max-width: 500px) {
  .nf-note-text,
  .nf-button-group {
    max-width: 224px;
  }
}