main {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  max-width: 555px;
}

main h2 {
  text-align: center;
  margin-bottom: 50px;
}

main p {
  font-size: 1.15rem;
}

@media screen and (max-width: 890px) {
  main {
    padding-bottom: 80px;
  }

  main h2 {
    margin-block-start: 0;
  }
}