main {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  max-width: 350px;
}

main h2 {
  text-align: center;
  margin-block-start: 10px;
  margin-bottom: 40px;
}

main p {
  font-size: 1.15rem;
}

@media screen and (max-width: 500px) {
  main h2 {
    font-size: 1.35rem;
  }
}