main {
  height: 100%;
  width: 75%;
  margin: 0 auto;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  max-width: 555px;
}

main h2 {
  text-align: center;
}

main p {
  font-size: 1.15rem;
}