.Header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

.btn {
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  text-decoration: none;
  font-size: 1.15rem;
  color: black;
  transition: 0.2s;
}

.btn:hover {
  border-bottom-color: var(--medium-gray);
}

.btn:active {
  border-bottom-color: var(--gray);
}

.h-logo img {
  width: 350px;
  transition: 0.2s;
}

.h-logo:active {
  opacity: 0.7;
}

.h-nav-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 200px;
  width: 300px;
}

.h-error {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--alert-red);
  color: var(--lt-red);
  border-bottom: 2px solid var(--lt-red);
  transition: 0.2s;
}

@media screen and (max-width: 890px) {
  .Header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h-logo img {
    width: 300px;
  }

  .h-nav-group {
    height: 50px;
    width: 250px;
  }

  .btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .Header {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
  }

  .h-logo img {
    width: 230px;
  }

  .h-nav-group {
    height: 50px;
    width: 225px;
  }

  .btn {
    font-size: 1rem;
  }
}